@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root{
    --cor00:#16015c13;
    --cor01:#6A46E1;
    --cor02:#3302DB;
    --cor03:#2b1c5cd2;
    --cor04:#2902A8;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-Overpass: 'Overpass Mono', cursive;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: var(padrao--fonte-);
}
body {
    background: var(--cor00);
}
.nav-area {
    background: var(--cor03);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.089);      
}
.nav-area nav{
    margin-top: 15px;
    float: right;
}
.nav-area nav a{
    color: white;
    font-family: var(--fonte-Overpass);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
} 
.logo-header{
    display: inline-block;
    margin: 0;
    color: white;
    font-size: 32px;
    font-family: merienda, sans-serif;
}
nav {
    font-family: var(--fonte-Overpass);
    margin-bottom: 0px;
}
nav a{
    color: white;
    margin-right: 40px;
    margin-left: 20px;
    border-bottom: 20px;
}
nav a:hover{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;    
    padding: 10px;
    transition-duration: 0.8s;
}
main{
    background-color: white;
    min-width: 400px;
    max-width: 1350px;
    margin: auto;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.089);
    border-radius: 0px 0px 10px 10px;
}
.name-info h1 {
    margin-top: 65px;
    padding-top: 50px;
    text-align: center;
}
.name-info p{
    text-align: center;
    margin-bottom: 30px;
}
.about-me p{
    margin: auto;
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 50px;
    width: 70%;
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 45%;
}
h1#project{
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
    margin-bottom: 40px;
    text-indent: 20px;
}
div {
    margin-bottom: 80px;
}
div p.text{
    margin-top: 120px;
    text-indent: 30px;
}
div p.ref{
    margin-bottom: 0px;
    text-indent: 30px;
}
li {
    margin-left: 80px;
}
h2 {
    margin-bottom: 30px;
    text-indent: 30px;
}
footer p{
    color: white;
    background-color: var(--cor03);
    text-align: center;
}
footer p a{
    color: white;
}
footer p a:hover{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;    
    padding: 10px;
    transition-duration: 0.8s;
}